.App {
  background-color: #01360f;
  display: flex;
  height: 100vh; /*change font scaling for "correct" height when scaled weird*/
}

.Grid {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.CardRow {
  display: flex;
  flex: 1;
}

.CardRow > * {
  flex: 1;
  margin: 10px;
}

.Card {
  background-repeat: no-repeat;
  background-size: cover;
}

.Counter {
  background-color: #6e6c69;
  size: fit-content;
  align-self: center;
}

#CounterRow > .Counter {
  align-self: flex-start;
}

.SidePanel {
  flex: 0.8;
  background-color: blue;
}

h1 {
  font-size: 1.75vw;
  margin: auto;
}
